#yojana {
    position: absolute;
    top: 0;
    left: 0;
    height: 87%;
    width: 99%;
    object-fit: cover;
    z-index: -2;
}
body {
    color: black !important;
    background-color: rgb(153, 141, 141) !important;
}

#drop{
    display: none;
}

@media (max-width: 450px) {
    #yojana {
        height:30vh;
        width: 100%;
    }

    #form{
        position: absolute;
       height: 100vh;
       top: 30px;
       left: 10px;
    }
    #drop{
        display:contents;
        padding-right: 5px;
        position: absolute;
        right: 3px;
    }

 
}

.background-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.form-container .col-md-6{
    position: absolute;
    top: 30vh;
   
}


/*
.form-container .col-md-6 {
    left: 25vw;
    background: rgba(255, 255, 255, 0.8); /* Optional: Add a background to the form for better readability */
    /* padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */